
.pruebaAdrian {
  width: 50%;
  height: 300px;
  font-family: Arial;
  font-size: 1,5em ;
  background-color: rgb(224, 255, 255);
  border-radius: 25px 25px 25px 25px;
  margin: auto;
}

.botonYaCuenta {
  margin: 52px;
}

.botonRegistro {
  display: block;
  width: 100%;

}

.singUpTitle {
  font-size: 2em;
  font-family: "Console", monospace;
}

.headerPcbre {
  background-color: #00bbffe0 !important;
}

.headerPcbre div {
  margin-left: 15px;
}

.bluecustom {
  background-color: #00bbffe0 !important;
}

.signInSection {
  font-size: 2.3em;
}

.sectionCustom {
  font-size: 2.3em;
  margin-left: 1.5em;
}

.sectionBottomCustom {
  font-size: 1.8em;
}

.inline-icon {
  vertical-align: bottom;
  font-size: 18px !important;
}

.textoCategoriasRelevantes {
  font-size: 1.5vw;
}

.signInMargin {
  margin-top: 5%;
}

.signUpMargin {
  margin-top: 2%;
}